
@model Dish

<div class="text-success bg-dark container fs-5">
    <a href="addADish" class ="btn btn-primary btn-outline-info btn-lg">Add Dish</a>    
    <div class="text-center">
        <h1> <a href="/" class ="btn btn-primary btn-outline-info btn-lg">Chefs</a> | Dishes </h1>
        <h2>Check out the Dishes!</h2>
        <div>
            <table class="text-info table">
                <tr>
                    <th>Name</th>
                    <th>Chef</th>
                    <th>Tastiness</th>
                    <th>Calories</th>
                    <th>Description</th>
                </tr>
                @foreach(Dish i in ViewBag.AllDishes)
                {
                    <tr class ="text-success">
                        <td>@i.DishName</td>
                        <td>@i.Creator.ChefFirstName @i.Creator.ChefLastName</td>
                        <td>@i.Tastiness</td>
                        <td>@i.Calories</td>
                        <td>@i.Description</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>